body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background: linear-gradient(to top, rgba(255, 165, 0, 0.8), rgba(255, 69, 0, 1)), url(https://media.istockphoto.com/vectors/illustration-about-mathematics-vector-id1141668764?k=6&m=1141668764&s=612x612&w=0&h=HwOXfSTo2u6DFbq0ZYhs6dOZhVUoE9Gs5BybGJwK2Xg=);

  font-family: "Poppins";
  color: white;
  text-align: center;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, orangered, orange);
}
::-webkit-scrollbar-thumb {
  background: #f01c00;
  border-radius: 20px;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 2rem;
  transition: all 0.3s ease;
}
input {
  padding: 1rem 1.5rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  min-width: 30rem;
  font-size: 1.5rem;
  font-family: "Poppins";
  color: orangered;
  outline: none;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease;
}
button {
  margin-right: 2rem;

  font-size: 1.5rem;
  font-family: "Poppins";
  color: white;
  background: orangered;
  border: none;
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  font-size: 1.75rem;
}
input:hover {
  font-size: 1.75rem;
}
.checkinstant {
  display: none;
}
.output {
  display: none;
}
.red {
  color: rgb(182, 0, 0);
}
.green {
  color: rgb(45, 255, 45);
  text-shadow: black;
}
.inv {
  display: none;
}
.button2 {
  padding: 1rem 3rem;
  margin-left: 2rem;
}
.play {
  position: absolute;
  bottom: 20px;
  right: 0;
  padding: 1rem 1rem;
}
.button {
  padding: 1rem 3rem;
}
.mode {
  background: #f01c00;
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 10px 15px;
  cursor: pointer;
}
